@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "master.cshtml";
}
@*<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h1>@Model.Content.Name</h1>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        @Html.Partial("children")
    </div>
    <div class="mdl-cell mdl-cell--8-col">
        @Html.Partial("index")
    </div>
</div>*@


<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        @Html.Partial("d")
    </div>
    <div class="mdl-cell mdl-cell--8-col">
       
    </div>
</div>
    @*<div class="row">
            <div class="col m4">
                @Html.Partial("children")
            </div>
            <div class="col m8">
                @Html.Partial("index")
            </div>
        </div>*@

