@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web

@*
    This snippet makes a breadcrumb of parents using an unordered HTML list.

    How it works:
    - It uses the Ancestors() method to get all parents and then generates links so the visitor can go back
    - Finally it outputs the name of the current page (without a link)
*@

@{ var selection = Model.Content.Ancestors().ToArray(); }
@if (Model.Content.Level > 1)
{
    <nav class="devsite-breadcrumb-nav">
            @if (selection.Length > 0)
            {
                <ul class="devsite-breadcrumb-list">
                    @foreach (var item in selection.OrderBy(x => x.Level))
                    {
                        <li class="devsite-breadcrumb-item">
                            <a class="devsite-breadcrumb-link" href="@item.Url">@item.Name</a>
                        </li>
                        <i class="material-icons">keyboard_arrow_right</i>
                    }
                    <li class="devsite-breadcrumb-item">@Model.Content.Name</li>
                </ul>
            }
    </nav>


    @*<nav class="hide-on-small-only blue darken-3">
        <div class="container nav-wrapper">
            @if (selection.Length > 0)
            {
                <ul>                    
                    @foreach (var item in selection.OrderBy(x => x.Level))
                    {
                        <li class="breadcrumb">
                            <a href="@item.Url">@item.Name</a>
                        </li>
                    }                 
                    <li class="breadcrumb">@Model.Content.Name</li>
                </ul>
            }
        </div>
    </nav>*@
}