@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<h2>Index</h2>

@{

    var glossary = Model.Content.Children();    
    var glossaryItems = glossary.OrderBy(gi => gi.Name);
    var c = 'A';
    var isFirst = true;       
}
<div class="row">
    <div class="col s12">
        <ul>
            @for (c = 'A'; c <= 'Z'; ++c)
            {
                <li class="index">
                    <a class="" href="@string.Format("#block-{0}", c)">@c</a>
                </li>
                if (isFirst)
                {
                    isFirst = false;
                }
            }
        </ul>
        </div>
</div>

    @{
        isFirst = true;
    }

    <div class="row">
        @for (c = 'A'; c <= 'Z'; ++c)
        {
            string curString = c.ToString();
            <h4>@c</h4>
            <div id="@string.Format("block-{0}", c)">
                @foreach (var item in glossaryItems.Where(gi => gi.Name.ToLower().StartsWith(curString.ToLower())))
                {
                    <div>
                        <h5><a href="@item.Url">@item.Name</a></h5>
                        <p>@item.GetPropertyValue("description")</p>
                    </div>
                }
            </div>

            if (isFirst)
            {
                isFirst = false;
            }
        }
    </div>
