@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{ var selection = Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray(); }

<nav class="blue darken-4">
    <div class="container nav-wrapper">
        <a href="/">Dibs Singh World Cup Database</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <form action="/search/" method="GET">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="search" type="search" placeholder="Search..." name="query" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        @if (selection.Length > 0)
        {
            <ul class="right hide-on-med-and-down">
                @foreach (var item in selection)
                {
                    <li class="@(item.IsAncestorOrSelf(Model.Content) ? "current" : null)">
                        <a href="@item.Url">@item.Name</a>
                    </li>
                }
            </ul>
        }
                        @*<ul class="side-nav" id="mobile-demo">
            @foreach (var item in selection)
            {
                <li class="@(item.IsAncestorOrSelf(Model.Content) ? "current" : null)">
                    <a href="@item.Url">@item.Name</a>
                </li>
            }
        </ul>

            <form action="/search/" method="GET">
            <div class="input-field">
                <input id="search" type="search" placeholder="Search..." name="query" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
                   

                        *@
    </div>
</nav>